.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .gallery {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
  }

  .gallery::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .imageContainer {
    flex: 0 0 auto;
    width: 80%;
  }
}
