.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 600px) {
  .gallery {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
  }

  .gallery::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

  .imageContainer {
    flex: 0 0 auto;
    width: 80%;
  }
}
