html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  --black: #000;
  --white: #fff;
  --gray: #222;
}

.light-mode {
  --background-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--black);
  --border-color: var(--gray);
}

.dark-mode {
  --background-color: var(--black);
  --text-color: var(--white);
  --link-color: var(--white);
  --border-color: var(--white);
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* transition: background-color 0.5s ease, color 0.5s ease; */
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  /* transition: color 0.5s ease; */
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
  /* transition: color 0.5s ease; */
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 0.5px solid #222;
}

.article > h1 {
  color: var(--text-color);
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
  text-decoration: underline;
  /* transition: color 0.5s ease; */
}
