.header {
  margin: 3rem;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .header {
    margin: 1.5rem; /* Adjust margin for mobile devices */
  }
}

.images {
  margin: 3rem;
}

@media (max-width: 600px) {
  .images {
    margin: 1.5rem;
  }
}

.section {
  padding: 3rem 3rem;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
}

.lowerSection {
  padding: 0 0 3rem 3rem;
}

@media (max-width: 600px) {
  .lowerSection {
    padding: 0 0 1.5rem 1.5rem;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
  }
}

.heading {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
  text-decoration: underline;
}

.blogHeading {
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
  font-weight: normal;
  text-decoration: underline;
}

.paragraph {
  font-size: 1rem;
  margin: 0;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 1rem;
}

.blogDate {
  width: 5rem;
  text-align: right;
}

.blogTitle {
  flex: 1;
  color: #000;
  text-decoration: underline;
}

.link {
  color: #000;
  text-decoration: underline;
}

.blogLink {
  color: #000;
  /* text-decoration: underline; */
}

.lightText {
  color: #666;
}

.article {
  max-width: 75ch;
  margin: 3rem auto;
}

@media (max-width: 600px) {
  .article {
    margin: 1.5rem;
  }
}
